 <main>
    	<section>
  <div class="top-container" style="text-align: center;">
    <h1 style="font-size: 40px;">Explore</h1>
    <h2 style="font-size: 30px;">The Best Destinations for Tourists in the World</h2>
    <p style="font-size: 20px; padding: 20px;">Find your next adventure with us, discover new places, cultures and experiences. Let us guide you on your journey.</p>
 {{#if userInSession}}
  <a style="font-size: 20px; padding: 20px; background-color: #1C3144; color: white; border-radius: 5px; text-align: center; display: inline-block;" class="nav-link" href="/my-trips">See your trips!</a>
{{else}}
  <a style="font-size: 20px; padding: 20px; background-color: #1C3144; color: white; border-radius: 5px; text-align: center; display: inline-block;" class="nav-link" href="/signup">Begin your journey</a>
{{/if}}
  </div>
</section>

<br>
<br>
                <section id="top-container-carousel">
	  		  <div class="carousel-container">
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>

            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://res.cloudinary.com/ddieot9rc/image/upload/v1675522604/movie-project/london-lights-4k-ap_akzunk.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  {{!-- <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis perferendis quos, enim quasi mollitia labore architecto. Doloremque ullam accusamus quidem excepturi, magni non, eum, facere optio deleniti suscipit ex fuga!</h5> --}}
                  <p>“In London, everyone is different, and that means anyone can fit in.” – Paddington Bear</p>
                  <button type="button" class="btn btn-outline-light">Read More</button>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://res.cloudinary.com/ddieot9rc/image/upload/v1675522384/movie-project/Mumbai_akzl3k.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  {{!-- <h5>Lorem Ipsum</h5>--}}
                  <p>"You don’t drive on the left of the road, you drive on what is left on the road!" -Anonymous</p>
                  <button type="button" class="btn btn-outline-light">Read More</button>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://res.cloudinary.com/ddieot9rc/image/upload/v1675522459/movie-project/NYC_hzbhqi.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  {{!-- <h5>Lorem Ipsum</h5> --}}
                  <p>“The true New Yorker secretly believes that people living anywhere else have to be, in some sense, kidding.”— John Updike</p>
                  <button type="button" class="btn btn-outline-light">Read More</button>
                </div>
              </div>
            </div>
            
           <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>

<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>
          </div>
    </div>
                </section>

                <br>
                <br>
                <br>
  <figure>
  <blockquote class="blockquote" style="text-align: center;">
    <h2>"The most amazing website you will ever use in your life."</h2>
  </blockquote>
  <figcaption class="blockquote-footer" style="text-align: center;">
    Omar Kemal, <cite title="Source Title">Ironhack</cite>
  </figcaption>
</figure>
  <br>
                <br>
<br>
      <section id="featured-destinations" class="featured-destinations bg-lightblue">

      <div class="row no-gutters">
        <div class="col-12 col-md-6 d-flex align-items-center order-1 order-md-0">
          <div class="p-15">
            <h3> Explore London </h3>
            <p><strong>London</strong>  is the capital and largest city of England and the United Kingdom, with a population of just under 9 million.[1] It stands on the River Thames in south-east England at the head of a 50-mile (80 km) estuary down to the North Sea, and has been a major settlement for two millennia.</p>
            <p>The City of London, its ancient core and financial centre, was founded by the Romans as Londinium and retains its medieval boundaries</p>
            <a class="btn bg-blue text-white" target="_blank" href="https://en.wikipedia.org/wiki/London" role="button">Read More</a>
          </div>
        </div>

        <div class="col-12 col-md-6 order-0 order-md-1">
          <div class="london-img" class="vh-100 cover" style="background-image: url(https://res.cloudinary.com/ddieot9rc/image/upload/v1675522604/movie-project/london-lights-4k-ap_akzunk.jpg);"></div>
        </div>

        <div class="col-12 col-md-6 order-2">
          <div class="new-york-img" class="vh-100 cover" style="background-image: url(https://res.cloudinary.com/ddieot9rc/image/upload/v1675522664/movie-project/NYC-skyline_xvhxj0.jpg);"></div>
        </div>

        <div class="col-12 col-md-6 d-flex align-items-center order-3">
          <div class="p-15">
            <h3>Explore New York</h3>
            <p><strong>New York</strong> or NYC, is the most populous city in the United States. With a 2020 population of 8,804,190 distributed over 300.46 square miles (778.2 km2), New York City is also the most densely populated major city in the United States, and is more than twice as populous as second-place Los Angeles. New York City lies at the southern tip of New York State, and constitutes the geographical and demographic center of both the Northeast megalopolis and the New York metropolitan area, the largest metropolitan area in the United States both by population and by urban landmass.</p>
            {{!-- <p>With over 20.1 million people in its metropolitan statistical area and 23.5 million in its combined statistical area as of 2020, New York is one of the world's most populous megacities, and over 58 million people live within 250 mi (400 km) of the city.</p> --}}
            <a class="btn bg-blue text-white" target="_blank" href="https://en.wikipedia.org/wiki/New_York_City" role="button">Read More</a>
          </div>
        </div>
      </div>

       <div class="row no-gutters">
        <div class="col-12 col-md-6 d-flex align-items-center order-1 order-md-0">
          <div class="p-15">
            <h3> Explore Mumbai </h3>
            <p><strong>Mumbai</strong> also known as Bombay is the capital city of the Indian state of Maharashtra and the de facto financial centre of India. </p>
            <p>According to the United Nations, as of 2018, Mumbai is the second-most populous city in India after Delhi and the eighth-most populous city in the world with a population of roughly 20 million (2 crore).[16]</p>
            <a class="btn bg-blue text-white" target="_blank" href="https://en.wikipedia.org/wiki/Mumbai" role="button">Read More</a>
          </div>
        </div>

        <div class="col-12 col-md-6 order-0 order-md-1">
          <div class="mumbai-img" class="vh-100 cover" style="background-image: url(https://res.cloudinary.com/ddieot9rc/image/upload/v1675522761/movie-project/mumbai-skyline_kxzaci.jpg);"></div>
        </div>
    </section>

    <br>
    <br>

    <section>
{{#if userInSession}}
  <div class="container" style="text-align: center;">
    <h1 style="font-size: 40px;">When is your next trip?</h1>
    <h2 style="font-size: 30px;">Create a trip and start your journey today! </h2>
    <div class="col-12 col-md-auto d-flex justify-content-center align-items-center">
      {{!-- <a class="btn-cta" href="" role="button">Contact Us</a> --}}
      <a style="font-size: 20px; padding: 20px; background-color: #1C3144; color: white; border-radius: 5px; text-align: center; display: inline-block;" class="nav-link" href="/add-trip">Create a trip!</a>
    {{else}}
      <div class="container" style="text-align: center;">
        <h1 style="font-size: 40px;">Ready for your next trip?</h1>
        <h2 style="font-size: 30px;"> Sign up and create a trip today! </h2>
        <div class="col-12 col-md-auto d-flex justify-content-center align-items-center">
          <a style="font-size: 20px; padding: 20px; background-color: #1C3144; color: white; border-radius: 5px; text-align: center; display: inline-block;" class="nav-link" href="/signup">Begin your journey!</a>
        {{/if}}

</div>
  </div>
</section>

<br>
<br>

<div class="footer-container1 text-center py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h4 class="text-uppercase font-weight-bold mb-3">Globe Hopper</h4>
        <p>A world of adventure awaits with Globe Hopper</p>
      </div>
      <div class="col-md-3">
        <h4 class="text-uppercase font-weight-bold mb-3">Explore</h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-transparent border-0">Destination Guides</li>
          <li class="list-group-item bg-transparent border-0">Travel Inspiration</li>
          <li class="list-group-item bg-transparent border-0">Top Picks</li>
          <li class="list-group-item bg-transparent border-0">Local Experiences</li>
          <li class="list-group-item bg-transparent border-0">Globe Hopper Blog</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4 class="text-uppercase font-weight-bold mb-3">Help & Support</h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-transparent border-0">FAQ</li>
          <li class="list-group-item bg-transparent border-0">Contact Us</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4 class="text-uppercase font-weight-bold mb-3">Recent Posts</h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-transparent border-0">How to Plan the Perfect Summer Vacation</li>
          <li class="list-group-item bg-transparent border-0">The Best Hiking Trails in the World</li>
          <li class="list-group-item bg-transparent border-0">10 Must-See Landmarks in Europe</li>
          <li class="list-group-item bg-transparent border-0">5 Reasons Why You Should Visit Japan</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="footer-final-section bg-dark text-center py-3">
  <p>Copyright @ 2023 Globe Hopper creators <a href="https://github.com/ozzleme" class="github-links">Nicole bell</a> and <a href="https://github.com/CameronStClair95" class="github-links">Cameron Aitcheson-Labarr</a></p>
</div>
</main>


