 <main>
    	<section>
  <div class="container" style="text-align: center;">
    <h1 style="font-size: 40px;">Explore</h1>
    <h2 style="font-size: 30px;">The Best Destinations for Tourists in the World</h2>
    <p style="font-size: 20px; padding: 20px;">Find your next adventure with us, discover new places, cultures and experiences. Let us guide you on your journey.</p>
  </div>
</section>

                <section id="top-container">
	  		  <div class="carousel-container">
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>

            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/images/London.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Lorem Ipsum</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet dui orci. Curabitur bibendum egestas est a fringilla. Ut ultricies augue blandit urna venenatis hendrerit. Suspendisse volutpat tincidunt sollicitudin. Quisque orci ex, sollicitudin quis lectus eget, congue mollis ligula. Praesent tincidunt elit fermentum volutpat rutrum. Morbi id est at mi ultrices pellentesque non pulvinar nibh. Morbi quis turpis consectetur, consectetur mauris sit amet, volutpat erat. Duis mattis rhoncus ornare. In augue neque, convallis quis magna non, gravida egestas leo.</p>
                  <button type="button" class="btn btn-outline-light">Read More </button>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/images/Mumbai.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Lorem Ipsum</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet dui orci. Curabitur bibendum egestas est a fringilla. Ut ultricies augue blandit urna venenatis hendrerit. Suspendisse volutpat tincidunt sollicitudin. Quisque orci ex, sollicitudin quis lectus eget, congue mollis ligula. Praesent tincidunt elit fermentum volutpat rutrum. Morbi id est at mi ultrices pellentesque non pulvinar nibh. Morbi quis turpis consectetur, consectetur mauris sit amet, volutpat erat. Duis mattis rhoncus ornare. In augue neque, convallis quis magna non, gravida egestas leo.</p>
                  <button type="button" class="btn btn-outline-light">Read More</button>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/images/NYC.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Lorem Ipsum</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet dui orci. Curabitur bibendum egestas est a fringilla. Ut ultricies augue blandit urna venenatis hendrerit. Suspendisse volutpat tincidunt sollicitudin. Quisque orci ex, sollicitudin quis lectus eget, congue mollis ligula. Praesent tincidunt elit fermentum volutpat rutrum. Morbi id est at mi ultrices pellentesque non pulvinar nibh. Morbi quis turpis consectetur, consectetur mauris sit amet, volutpat erat. Duis mattis rhoncus ornare. In augue neque, convallis quis magna non, gravida egestas leo.</p>
                  <button type="button" class="btn btn-outline-light">Read More</button>
                </div>
              </div>
            </div>
            
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
                </section>

                <br>
                <br>
  <figure>
  <blockquote class="blockquote" style="text-align: center;">
    <p>"The most amazing website you will ever use in your life."</p>
  </blockquote>
  <figcaption class="blockquote-footer" style="text-align: center;">
    Omar Kemal, <cite title="Source Title">Ironhack</cite>
  </figcaption>
</figure>

<br>
      <section id="featured-destinations" class="featured-destinations bg-lightblue">

      <div class="row no-gutters">
        <div class="col-12 col-md-6 d-flex align-items-center order-1 order-md-0">
          <div class="p-15">
            <h3> Explore London </h3>
            <p><strong>London</strong>  is the capital and largest city of England and the United Kingdom, with a population of just under 9 million.[1] It stands on the River Thames in south-east England at the head of a 50-mile (80 km) estuary down to the North Sea, and has been a major settlement for two millennia.</p>
            <p>The City of London, its ancient core and financial centre, was founded by the Romans as Londinium and retains its medieval boundaries</p>
            <a class="btn bg-blue text-white" target="_blank" href="https://en.wikipedia.org/wiki/London" role="button">Read More</a>
          </div>
        </div>

        <div class="col-12 col-md-6 order-0 order-md-1">
          <div class="london-img" class="vh-100 cover" style="background-image: url(https://images.hdqwalls.com/wallpapers/london-lights-4k-ap.jpg);"></div>
        </div>

        <div class="col-12 col-md-6 order-2">
          <div class="new-york-img" class="vh-100 cover" style="background-image: url(https://wallpapercave.com/wp/wp3594884.jpg);"></div>
        </div>

        <div class="col-12 col-md-6 d-flex align-items-center order-3">
          <div class="p-15">
            <h3>Explore New York</h3>
            <p><strong>New York</strong> or NYC, is the most populous city in the United States.
            
            With a 2020 population of 8,804,190 distributed over 300.46 square miles (778.2 km2), New York City is also the most densely populated major city in the United States, and is more than twice as populous as second-place Los Angeles. New York City lies at the southern tip of New York State, and constitutes the geographical and demographic center of both the Northeast megalopolis and the New York metropolitan area, the largest metropolitan area in the United States both by population and by urban landmass.</p>
            <p>With over 20.1 million people in its metropolitan statistical area and 23.5 million in its combined statistical area as of 2020, New York is one of the world's most populous megacities, and over 58 million people live within 250 mi (400 km) of the city.</p>
            <a class="btn bg-blue text-white" target="_blank" href="https://en.wikipedia.org/wiki/New_York_City" role="button">Read More</a>
          </div>
        </div>
      </div>

       <div class="row no-gutters">
        <div class="col-12 col-md-6 d-flex align-items-center order-1 order-md-0">
          <div class="p-15">
            <h3> Explore Mumbai </h3>
            <p><strong>Mumbai</strong> also known as Bombay is the capital city of the Indian state of Maharashtra and the de facto financial centre of India. </p>
            <p>According to the United Nations, as of 2018, Mumbai is the second-most populous city in India after Delhi and the eighth-most populous city in the world with a population of roughly 20 million (2 crore).[16]</p>
            <a class="btn bg-blue text-white" target="_blank" href="https://en.wikipedia.org/wiki/Mumbai" role="button">Read More</a>
          </div>
        </div>

        <div class="col-12 col-md-6 order-0 order-md-1">
          <div class="mumbai-img" class="vh-100 cover" style="background-image: url(https://wallpaperaccess.com/full/1180015.jpg);"></div>
        </div>
    </section>

    <br>

    <section>
  <div class="container" style="text-align: center;">
    <h1 style="font-size: 40px;">Ready for your next trip?</h1>
    <h2 style="font-size: 30px;"> Get in touch today! </h2>
      <div class="col-12 col-md-auto d-flex justify-content-center align-items-center">
    <a class="btn-cta" href="" role="button">Contact Us</a>
</div>
  </div>
</section>

<br>

{{!-- <section id="contact-us" class="py-5 contact bg-lightblue">
  <div class="container-fluid container-fluid-max">
    <div class="row center-text">
      <div class="col-12 col-md-auto py-3 text-center">
        <h2 class="mb-0 text-blue">Ready for your next trip?</h2>
        <p class="mb-0 h4 text-blue font-weight-normal">Get in touch today!</p>
      </div>

      <div class="col-12 col-md-auto d-flex justify-content-center align-items-center">
        <a class="btn bg-blue text-white font-weight-bold" href="" role="button">Contact Us</a>
      </div>

    </div>


  </div>
</section> --}}

<div class="text-left p-3 mb-2 bg-secondary text-white footer-container1">
  <div class="container-fluid footer-container">
    <div class="row footer-row">
      <div class="col-md-3 footer-col">
        <h4 class="footer-h4">Revera</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="col-md-3 footer-col">
        <h4 class="footer-h4">Meta</h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-secondary text-white">An item</li>
          <li class="list-group-item bg-secondary text-white">A second item</li>
          <li class="list-group-item bg-secondary text-white">A third item</li>
          <li class="list-group-item bg-secondary text-white">A fourth item</li>
          <li class="list-group-item bg-secondary text-white">And a fifth one</li>
        </ul>
      </div>
      <div class="col-md-3 footer-col">
        <h4 class="footer-h4">Archives</h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-secondary text-white">An item</li>
          <li class="list-group-item bg-secondary text-white"></li>
        </ul>
      </div>
      <div class="col-md-3 footer-col">
        <h4 class="footer-h4">Recent Posts</h4>
        <ul class="list-group list-group-flush footer-ul ">
          <li class="list-group-item footer-li bg-secondary text-white">An item</li>
          <li class="list-group-item footer-li bg-secondary text-white">A second item</li>
          <li class="list-group-item footer-li bg-secondary text-white">A third item</li>
          <li class="list-group-item footer-li bg-secondary text-white">A fourth item</li>
          <li class="list-group-item footer-li bg-secondary text-white">And a fifth one</li>
           </ul>
      </div>
    </div>
  </div>
</div>
<div class="bg-dark text-white text-center py-3 footer-final-section">
  Copyright @ 2016 
</div>

    {{!-- <section class="testimonials">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-center m-auto">
						<h3>Testimonials</h3>
						<div id="myCarousel" class="carousel slide" data-ride="carousel">
							<ol class="carousel-indicators">
								<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
								<li data-target="#myCarousel" data-slide-to="1"></li>
								<li data-target="#myCarousel" data-slide-to="2"></li>
							</ol>   
							<div class="carousel-inner">
								<div class="item carousel-item active">
									<div class="img-box"><img src="https://i.imgur.com/Nb3yekw.jpg" alt="Kate Richards's picture"></div>
									<p class="testimonial"> ?????</p>
									<p class="overview"><b>????? </b> ?????</p>
								</div>
								<div class="item carousel-item">
									<div class="img-box"><img src="https://i.imgur.com/lnwVigE.jpg" alt="Mandy Hutzz's picture"> ????? </div>
									<p class="testimonial"> ???</p>
									<p class="overview"><b> ??? </b> ????</p>
								</div>
								<div class="item carousel-item">
									<div class="img-box"><img src="https://i.imgur.com/lnwVigE.jpg" alt="Mandy Hutzz's picture"> ?????</div>
									<p class="testimonial"> ???</p>
									<p class="overview"><b> ??? </b> ????</p>
								</div>
							</div>
							<a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							</a>
							<a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section> --}}


         {{!-- <footer class="py-5 page-footer footer">
    <div class="container-fluid container-fluid-max">
      <div class="row">
        <div class="col-12 col-md-6 footer-child copyright">
          Booking © 2023 All Rights Reserved
        </div>
        <div class="col-12 col-md-6 footer-child footer-links">
          <a href="" class="mr-3">Privacy Policy</a>
          <a href="">FAQ</a>
          <div>
            <small>Made by <a href=" " target="_blank">Nicole Bell and Cameron Aitcheson-Labarr</a>
            </small>
          </div>
        </div>
      </div>
    </div>
  </footer> --}}

  </main>


