<div class="create-event-form">
  {{#if userInSession}}
    <h2>Welcome, {{userInSession.email}}!</h2>
    <h3>Create Trip</h3>
    <form action="/add-trip" method="POST" enctype="multipart/form-data">
      <label for="">
        Trip Name
        <input type="text" name="tripName" />
      </label>
      <label for="">
        Describe your trip
        <input type="text" name="description" />
      </label>
      <label for="">
        Image
        <input type="file" name="image" />
      </label>
      <button type="submit">Add Trip</button>
    </form>

    <form id="delete-form" action="/trips/{{_id}}/delete" method="POST">
      <button type="submit" class="btn btn-danger">Cancel Trip</button>
    </form>

  {{else}}
    <p>Still no logged in user, sorry!</p>
  {{/if}}
</div>